# Visual Studio Derleme Dosyaları
bin/
obj/

# Visual Studio Cache ve Otomatik Oluşturulan Dosyalar
*.cache
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.AssemblyReference.cache
*.assets.cache
*.editorconfig
*.GeneratedMSBuildEditorConfig.editorconfig

# IDE Ayarları (VSCode, Rider, IntelliJ, vb.)
.vscode/
.idea/
.settings/

# Visual Studio Ayarları
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Otomatik Yedekleme
Backup*/
UpgradeLog*.htm
_UpgradeReport_Files/

# Paketler ve Bağımlılıklar
packages/
node_modules/

# Log dosyaları
*.log

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db

# Python Derleme Artıkları (varsa)
_pycache_/
*.pyc