# Cache files
*.cache

# Cache directories
.cache/

# General IDE files
.idea/
.vscode/
.settings/

# Compiled files
*.class
*.exe
*.dll

# Logs
*.log

# Node modules (if using Node.js)
node_modules/

# Python cache files
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

HotelReservationApp.AssemblyInfo.cs
HotelReservationApp.AssemblyInfoInputs.cache